@model JobPortal.Models.ViewModels.OrganizationVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    int i = 1;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                SN
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrgName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrgAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrgContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrgEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrgImage)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.OrganizationList.Count > 0)
        {
            foreach (var item in Model.OrganizationList)
            {
                <tr>
                    <td>
                        @i
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrgName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrgAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrgContact)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrgEmail)
                    </td>
                    <td>
						@if (item.OrgImage != null)
						{
							<img src="@item.OrgImage" alt="Organization Image" style="width: 50px; height: 50px;" />
						}
                        
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.OrganizationId }) |
                        @* @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) | *@
                        @Html.ActionLink("Delete", "Delete", new { id = item.OrganizationId })
                    </td>
                </tr>
                i++;
            }
        }
        else
        {
            <tr>
                <td>
                    No organizations found.
                </td>
            </tr>
        }
    </tbody>
</table>
