@model JobPortal.Models.ViewModels.VendororganizationVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    int i = 1;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                SN
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorImage)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.VendororganizationList)
        {
        <tr>
            <td>
                @i
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorContact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorEmail)
            </td>
                <td>
                    @if (item.VendorImage != null)
                    {
                        <img src="@item.VendorImage" alt="Vendor Image" style="width: 50px; height: 50px;" />
                    }

                </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.VendorId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.VendorId })
            </td>
        </tr>
            i++;
        }
    </tbody>
</table>
